/* 全体のレイアウト */
html {
    font-size: 100%;
}
body {
    color: #333;
    font-size: 0.75rem;
    font-family: 'Ralway', sans serif;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.site-title {
    width: 109px;
    line-height: 1px;
    margin: 0 auto 36px auto;
}
.site-title a {
    display: block;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    header
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー----------ーーーーーーーーーーー */

header {
    max-width: 1000px;
    padding: 40px 0 26px 0;
    margin: 0 auto 50px auto;
    border-bottom: solid 1px #c3c3c3;
}
nav {
    /* 「クラスmenuナビ」と「クラスloginナビ」を、横並びにする */
    display: flex;
    /* フレックスアイテムの縦軸を上下中央揃え */
    align-items: center;
    /* flexアイテムの両端揃え */
    justify-content: space-between;
}
/* 「クラスmenuのナビ」も「クラスloginナビ」も、それぞれ中身を、横並びにする */
nav .menu,
nav .login {
    display: flex;
    /* 子要素を親要素の中で上下中央揃え */
    align-items: center;
}
nav .menu li {
    margin-right: 14px;
}
nav .login li {
    margin-left: 14px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    main 商品ページ
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー----------ーーーーーーーーーーー */

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.item-image {
    max-width: 400px;
    /* テキストが長い場合でも「テキストと横並びにした画像」が縮むことなく指定widthを反映 */
    flex-shrink: 0;
    margin-right: 60px;
}
.item .item-info p{
    margin-bottom: 30px;
    line-height: 1.9;
}

/* h1タグ。 */
.item .item-info .item-title {
    height: 60px;
    display: flex;
    /* 高さを中央にそろえる。display:flex;と一緒に親要素に指定。 */
    align-items: center;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    orderテーブル
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* テーブル全体幅 　　　列幅：カラー20%＋サイズ20%＋quantity60% = 100%　*/
.item .item-info .order-table {
    width: 100%;
    margin-bottom: 20%;
}
/* 列見出しのセル幅を設定 */
.item .item-info .order-table .color,
.item .item-info .order-table .size {
    width: 20%;
}
.item .item-info .order-table .quantity {
    width: 60%;
}

/* テーブルの線が重複しないように設定（外枠なし） */
/* １．tdの上に設定  */
.item .item-info .order-table td {
    border-top: solid 1px #c3c3c3;
}
/* ２．th、tdの右に設定  */
.item .item-info .order-table th,
.item .item-info .order-table td {
    font-weight: normal;
    padding: 10px;
    border-right: solid 1px #c3c3c3;
    /* 水平方向の中央寄せ */
    text-align: center;
}
/* 3．th、tdの最後だけ右の線を消す */
.item .item-info .order-table th:last-child,
.item .item-info .order-table td:last-child {
    border-right: none;
}

/* セレクトボックス */
.item .item-info .order-table select {
    width: 100%;
    border: solid 1px #c3c3c3;
    padding: 0 10px;
    /* セレクトボックスのカスタマイズ。セレクトボックスに右端の矢印を表示
    appearanceプロパティで「OS毎に異なるユーザーインタフェースのスタイル」を解除 */
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}

.item .item-info .cart-btn {
    width: 100%;
    background-color: #4B4B4B;
    color: #fff;
    display: block;
    line-height: 1;
    padding: 18px 0;
    margin-bottom: 30px;
    text-align: center;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    sizeテーブル
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* テーブルの線が重複重しないよう設定（外枠あり） */
/* 1．テーブルの上と左に設定 */
.item .item-info .size-table {
    width: 100%;
    border-top: solid 1px  #c3c3c3;
    border-left: solid 1px #c3c3c3;
}
.item .item-info .size-table .size {
    width: 16%;
}
.item .item-info .size-table .chest,
.item .item-info .size-table .west,
.item .item-info .size-table .height {
    width: 28%;
}
.item .item-info .size-table th {
    background-color: #ecebeb;
}

/* ２．th、tdの右と下に設定 */
.item .item-info .size-table th,
.item .item-info .size-table td {
    font-weight: normal;
    padding: 10px;
    border-right: solid 1px #c3c3c3;
    border-bottom: solid 1px #c3c3c3;
    text-align: center;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    footer
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー----------ーーーーーーーーーーー */

footer {
    padding: 10px 0;
}
footer .copyright {
    font-size: 0.625rem;
    text-align: center;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    スマホ用レイアウト　　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
@media screen and (max-width: 896px) { 
    /* ーーーーーーーーーーーーーーーーーー
        header　　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　
    ーーーーーーーーーーーーーーーーーーー */    
    header {
        margin-bottom: 0;
        border-bottom: none;
        padding: 36px 16px 16px 16px;
    }
    /* ナビを横スクロールできるようにする */
    nav {
        overflow-x: scroll;
    }
    /* ーーーーーーーーーーーーーーーーーー
        商品ページ　　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　♦︎　
    ーーーーーーーーーーーーーーーーーーー */
    /* クラスitemの中の「クラスittem-image」と「クラスitem-info」を縦並びにする */
    .item {
        flex-direction: column;
    }
    /* 画像の部分 */
    .item .item-image {
        margin: 0 0 10px 0;
        max-width: 100%;
    }
    /* テキストの部分 */
    .item .item-info {
        padding: 0 16px;
    }
}
